<style>
  .Search-btn {
    background-color: #fe424d;
    color:#fff;
    height: 40px;
    border-radius: 25px;
    padding: 0 1.5rem 0 1.5rem;
  }
  .Search-btn:hover {
    background-color: #fe424d;
    color:#fff;
  }

  
.input {
  border-radius: 25rem;
  padding: 0.5rem 3rem 0.5rem 3rem;
}

</style>
<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <a class="nav-link" aria-current="page" href="/">Explore</a>
         
          
          </div>
          <div class="search ms-auto">
            <form class="d-flex" role="search">
              <input class="form-control me-2 input" type="search" placeholder="Search Destination" aria-label="Search" >
              <button class="btn Search-btn" type="submit"></button>  Search  </button>
            </form>
          </div>
          <!-- <i class="fa-solid fa-magnifying-glass">  is ko seaech bar me lagana hai jo abhi display inline nahi ho raha hai baad me retry karenge -->
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/listings/new">Airbnb your home</a>
            <% if(!currUser) { %>
          <a class="nav-link " href="/signup"><b>Sign Up</b></a>
          <a class="btn btn-dark" href="/login">Login</a>
          <% } %> <% if(currUser) { %>
          <a class="nav-link" href="/logout">Logout</a>
          <% } %>
          
        </div>
      </div>
    </div>
  </nav>
<!-- B7yKl5AyGIMIglK4 -->
<!-- mongodb+srv://singh16112004:B7yKl5AyGIMIglK4@cluster0.hq73aet.mongodb.net/?retryWrites=true&w=majority -->